<p>cards works!</p>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner row justify-content-around">
      <div class="carousel-item active">
        <img
          url="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fes%2Ffree-png-xdsfd&psig=AOvVaw1lX8mLmBz5YrGl6U1NA9vG&ust=1678729226889000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKjR1ez31v0CFQAAAAAdAAAAABAE"
          class="carousel-inner img p-4 d-block w-50"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          url="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fes%2Ffree-png-xdsfd&psig=AOvVaw1lX8mLmBz5YrGl6U1NA9vG&ust=1678729226889000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKjR1ez31v0CFQAAAAAdAAAAABAE"
          class="carousel-inner img d-block w-50 p-4"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../images/img1.webp"
          class="carousel-inner img d-block w-50 p-4"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">anterior</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">siguiente</span>
    </button>
  </div>
  <div class="card-padre d-flex justify-content-around">
    <div class="card1" style="width: 18rem">
      <img src="../img/maquinas.jpeg" class="card-img-top w-100" alt="..." />
      <div class="card-body text-white p-3">
        <h5 class="card-title">Maquinas</h5>
        <p class="card-text">
          Contamos con maquinas totalmente funcionales para su entretenimiento. Estas maquinas son revisadas diarimente para que usted tenga toda la confianza de depositar su dinero.
        </p>
      </div>
    </div>
    <div class="card2" style="width: 18rem">
      <img src="../img/cazar.png" class="card-img-top" alt="..." />
      <div class="card-body text-white p-3">
        <h5 class="card-title">Black Jack</h5>
        <p class="card-text">
          Contamos con un Crupier para su comodidad y que estara constantemente al pendiente de usted y de mas jugadores de la mesa.
        </p>
      </div>
    </div>
    <div class="card1" style="width: 18rem">
      <img src="../img/ruleta-en-linea.jpg" class="card-img-top w-100" alt="..." />
      <div class="card-body text-white p-3">
        <h5 class="card-title">Ruleta</h5>
        <p class="card-text">
          En esta mesa tambien habra un Crupier que se asegura de que todo el juego se realize con completa sinceridad.
        </p>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>